<header>
	<nav id="language-menu">
		<a href="/home">English</a>
		<a href="/et/home">Eesti</a>
	</nav>

	<h1 id="title">{{ .Site.Title }}</h1>

	<nav id="main-menu">
		{{ range .Site.Menus.main }}
		<a href="{{ .URL  }}">{{ .Name }}</a>
		{{ end }}
		<div class="clear"></div>
	</nav>

{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

{{- if not .Site.IsServer }}
    {{ partial "google_analytics.html" . }}
{{- end }}

</header>

<h2 id="subtitle">{{ .Title }}</h2>
